<%- include('partials/header') %>
<div id="background">
    <div id="message">
        <h1>In the mood to catch a flick? See what movies are playing now!</h1>
          <form action="/search" method="GET">
             <button type="submit" class="btn btn-warning btn-lg">Show me a list of Movies!</button>
          </form>
    </div>
 </div>


<%- include('partials/footer') %>